<table mat-table [dataSource]='orders' *ngIf="!this.isProduct">

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> User Email </th>
    <td mat-cell *matCellDef="let order"> {{order.userEmail}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let order"> {{order.total}} </td>
  </ng-container>

  <ng-container matColumnDef="products">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let order" (click)="toProducts(order)">

      <button class="btn">View Products</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="approve">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let order" (click)="openDialog(order)">
      <button class="btn">Approve</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<app-order-products *ngIf="this.isProduct"></app-order-products>
