<table mat-table [dataSource]='products'>

  <ng-container matColumnDef="provider">
    <th mat-header-cell *matHeaderCellDef> Provider</th>
    <td mat-cell *matCellDef="let product"> {{product.manufacturerName}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let product"> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="cart">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let product" (click)="subscribe(product)">
      <button class="btn">Subscribe</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let product" (click)="discount(product)">
      <button class="btn">Add discount</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let product" (click)="editProduct(product)">
      <button class="btn btn-danger"> Edit Subscription</button>
      <p *ngIf="error" style="background-color: red">
        {{ error }}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let product" (click)="deleteProduct(product)">
      <button class="btn btn-danger"> Delete Subscription</button>
      <p *ngIf="error" style="background-color: red">
        {{ error }}
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
